{% extends 'base.html.twig' %}

{% block title %}Demande de réinitialisation{% endblock %}

{% block body %}
    <section class="login">
        <div class="section-wrapper">
            <h2 class="login__title">Demande de réinitialisation</h2>

            {% for label, messages in app.flashes(['success', 'warning']) %}
                {% for message in messages %}
                    <div class="alert {{ label }}">
                        <i class="fa fa-times alert__close" aria-hidden="true"></i>
                        {{ message }}
                    </div>
                {% endfor %}
            {% endfor %}

            {{ form_start(userForm) }}

            <div class="form__group">
                {{ form_label(userForm.username, 'Nom d\'utilisateur', {'label_attr': {'class': 'form__label'}}) }}
                {{ form_widget(userForm.username, {'attr': {'class': 'form__input'}}) }}
                <div class="form__error">
                    {{ form_errors(userForm.username) }}
                </div>
            </div>

            <input type="submit" class="button form__submit" value="Réinitialiser">
            {{ form_end(userForm) }}

        </div>
    </section>
{% endblock %}
