{% extends 'base.html.twig' %}

{% block title %}Connexion{% endblock %}

{% block body %}
    <section class="login">
        <div class="section-wrapper">
            <h2 class="login__title">Connexion</h2>

            <form method="post">

                <div class="form__group">
                    <label class="form__label" for="inputUsername">Username</label>
                    <input type="text" value="{{ last_username }}" name="username" id="inputUsername" class="form__input" required autofocus>
                </div>

                <div class="form__group">
                    <label class="form__label" for="inputPassword">Password</label>
                    <input type="password" name="password" id="inputPassword" class="form__input" required>
                </div>

                <input type="hidden" name="_csrf_token"
                       value="{{ csrf_token('authenticate') }}"
                >

                {% if error %}
                    <div class="login__alert">{{ error.messageKey|trans(error.messageData, 'security') }}</div>
                {% endif %}

                <input type="submit" class="button" value="Se connecter">
            </form>

            <div class="login__links">
                <a href="{{ path('app_signup') }}">S'inscrire</a>
                <a href="#">Mot de passe oublié ?</a>
            </div>
        </div>
    </section>
    {{ parent() }}
{% endblock %}
