{% extends 'base.html.twig' %}

{% block title %}Réinitialisation du mot de passe{% endblock %}

{% block body %}
    <section class="login">
        <div class="section-wrapper">
            <h2 class="login__title">Réinitialisation du mot de passe</h2>

            {% for label, messages in app.flashes(['success', 'warning']) %}
                {% for message in messages %}
                    <div class="alert {{ label }}">
                        <i class="fa fa-times alert__close" aria-hidden="true"></i>
                        {{ message }}
                    </div>
                {% endfor %}
            {% endfor %}

            {{ form_start(newPasswordForm) }}

            <div class="form__group">
                {{ form_label(newPasswordForm.username, 'Nom d\'utilisateur', {'label_attr': {'class': 'form__label'}}) }}
                {{ form_widget(newPasswordForm.username, {'attr': {'class': 'form__input'}}) }}
                <div class="form__error">
                    {{ form_errors(newPasswordForm.username) }}
                </div>
            </div>

            <div class="form__group">
                {{ form_label(newPasswordForm.plainPassword, 'Nouveau mot de passe', {'label_attr': {'class': 'form__label'}}) }}
                {{ form_widget(newPasswordForm.plainPassword, {'attr': {'class': 'form__input'}}) }}
                <div class="form__error">
                    {{ form_errors(newPasswordForm.plainPassword) }}
                </div>
            </div>

            <input type="submit" class="button form__submit" value="Réinitialiser">
            {{ form_end(newPasswordForm) }}

        </div>
    </section>
{% endblock %}
