<header class="header">
    <div class="header__wrapper">

        <h1 class="header__logo">
            <a href="{{ path('homepage') }}">
                <span>Snow</span>Tricks
            </a>
        </h1>

        <div class="header__nav-toggle js-navbar-toggle">
            <i class="fa fa-bars" aria-hidden="true"></i>
        </div>

        <ul class="header__nav js-navbar-menu">
            <li class="header__nav-item">
                <a href="{{ path('homepage') }}">
                    Accueil
                </a>
            </li>
            <li class="header__nav-item">
                <a href="{{ path('homepage') }}#tricks">
                    Figures
                </a>
            </li>

            {% if not is_granted('IS_AUTHENTICATED_FULLY') %}
                <li class="header__nav-item">
                    <a href="{{ path('app_login') }}">
                        Connexion
                    </a>
                </li>
                <li class="header__nav-item">
                    <a href="{{ path('app_signup') }}">
                        Inscription
                    </a>
                </li>
            {% else %}
                <li class="header__nav-item">
                    <a href="{{ path('trick_new') }}">
                        Ajouter une figure
                    </a>
                </li>
                <li class="header__nav-item">
                    <a href="{{ path('app_logout') }}">
                        Déconnexion
                    </a>
                </li>
            {% endif %}
        </ul>

    </div>
</header>
