{% extends 'base.html.twig' %}

{% block title %}Nouvelle figure{% endblock %}

{% block body %}
    <section class="login">
        <div class="section-wrapper">
            <h2 class="login__title">Nouvelle figure</h2>

            {{ form_start(newTrickForm, {'attr': {'class': 'form'}}) }}

                <div class="form__group">
                    {{ form_label(newTrickForm.name, 'Nom de la figure', {'label_attr': {'class': 'form__label'}}) }}
                    {{ form_widget(newTrickForm.name, {'attr': {'class': 'form__input'}}) }}
                    <div class="form__error">
                        {{ form_errors(newTrickForm.name) }}
                    </div>
                </div>

                <div class="form__group">
                    {{ form_label(newTrickForm.description, 'Description', {'label_attr': {'class': 'form__label'}}) }}
                    {{ form_widget(newTrickForm.description, {'attr': {'class': 'form__input'}}) }}
                    <div class="form__error">
                        {{ form_errors(newTrickForm.description) }}
                    </div>
                </div>

                <div class="form__group">
                    {{ form_label(newTrickForm.trickImages, 'Images', {'label_attr': {'class': 'form__label'}}) }}

                    <ul class="trick-medias" data-prototype="{{ form_widget(newTrickForm.trickImages.vars.prototype.file)|e('html_attr') }}">
                        <li class="form__group js-media-template hide">

                            <a href="#" class="form__closer js-delete-media">Supprimer</a>
                        </li>
                        {% for image in newTrickForm.trickImages %}
                            <li class="form__group">
                                {{ form_widget(image.file) }}
                                <div class="form__error">
                                    {{ form_errors(image.file) }}
                                </div>
                                <a href="#" class="form__closer js-delete-media">Supprimer</a>
                            </li>
                        {% endfor %}
                    </ul>

                    <button class="button small new_trick_media" type="button">
                        <i class="fa fa-plus" aria-hidden="true"></i>
                        Ajouter une image
                    </button>
                </div>

                <div class="form__group">
                    {{ form_label(newTrickForm.trickVideos, 'Videos (URL Embed)', {'label_attr': {'class': 'form__label'}}) }}

                    <ul class="trick-medias" data-prototype="{{ form_widget(newTrickForm.trickVideos.vars.prototype.src)|e('html_attr') }}">
                        <li class="form__group js-media-template hide">

                            <a href="#" class="form__closer js-delete-media">Supprimer</a>
                        </li>
                        {% for video in newTrickForm.trickVideos %}
                            <li class="form__group">
                                {{ form_widget(video.src, {'attr': {'class': 'form__input'}}) }}
                                <div class="form__error">
                                    {{ form_errors(video.src) }}
                                </div>
                                <a href="#" class="form__closer js-delete-media">Supprimer</a>
                            </li>
                        {% endfor %}
                    </ul>

                    <button class="button small new_trick_media" type="button">
                        <i class="fa fa-plus" aria-hidden="true"></i>
                        Ajouter une vidéo
                    </button>
                </div>

                <div class="form__group">
                    {{ form_label(newTrickForm.category, 'Catégorie', {'label_attr': {'class': 'form__label'}}) }}
                    {{ form_widget(newTrickForm.category, {'attr': {'class': 'form__input'}}) }}
                    <div class="form__error">
                        {{ form_errors(newTrickForm.category) }}
                    </div>
                </div>

                <input type="submit" class="button form__submit" value="Ajouter">
            {{ form_end(newTrickForm) }}

        </div>
    </section>
{% endblock %}

{% block javascripts %}
    {{ parent() }}
    {{ encore_entry_script_tags('trick_collection') }}
{% endblock %}
